<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Schooly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Schooly.Properties.Settings.fetConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\mdf\fet.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Schooly.Properties.Settings.EtablissementConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\mdf\Etablissement.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Schooly.Properties.Settings.EmployeeConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\mdf\Employee.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Schooly.Properties.Settings.StudentsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\mdf\Students.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Schooly.Properties.Settings.examConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\mdf\exam.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Schooly.Properties.Settings>
            <setting name="logoAR" serializeAs="String">
                <value />
            </setting>
            <setting name="logoFR" serializeAs="String">
                <value />
            </setting>
            <setting name="passMassar" serializeAs="String">
                <value />
            </setting>
            <setting name="usrMassar" serializeAs="String">
                <value />
            </setting>
            <setting name="Key" serializeAs="String">
                <value />
            </setting>
            <setting name="Creation" serializeAs="String">
                <value />
            </setting>
            <setting name="Expiration" serializeAs="String">
                <value />
            </setting>
            <setting name="Key_crypt" serializeAs="String">
                <value />
            </setting>
            <setting name="licType" serializeAs="String">
                <value />
            </setting>
            <setting name="DaysLeft" serializeAs="String">
                <value />
            </setting>
        </Schooly.Properties.Settings>
    </userSettings>
</configuration>